In [1]:
p=(4,5,6)
x,y,z=p
x

4

In [2]:
y

5

In [3]:
z

6

In [4]:
data=['name',6,'hello',9]
a,b,c,d=data
a

'name'

In [5]:
b

6

In [6]:
x

4

In [7]:
d

9

In [8]:
c

'hello'

In [9]:
data = [ 'ACME', 50, 91.1, (2012, 12, 21) ]
a,b,c,(x,y,z)=data
a

'ACME'

In [10]:
b

50

In [11]:
x

2012

In [16]:
say='Hello'
h,l,L,o,e=say
h

'H'

In [17]:
L

'l'

In [19]:
L

'l'

In [20]:
l

'e'

In [21]:
o

'l'

In [95]:
import statistics

def dropgrades(grades):
    first,*middle,last = grades
    return statistics.mean(middle)

grades=[30,10,20,20,50,10]

dropgrades(grades)

25

In [44]:
import statistics
def dropgrades(grade):
    first, *middle, last=grade
    return statistics.mean(grade)

grade=[10,20,30,20,50,60]
dropgrades(grade)

31.666666666666668

In [57]:
    firstname, lastname, *phone=address

address=('mera','naam',89000000,9990000)

phone

[89000000, 9990000]

In [103]:
    sales_record = [10, 8, 7, 1, 9, 5, 10, 3]
    *trailing_qtrs, current_qtr = sales_record
    trailing_avg = sum(trailing_qtrs) / len(trailing_qtrs)
    trailing_avg, current_qtr, trailing_qtrs, *trailing_qtrs

(7.142857142857143, 3, [10, 8, 7, 1, 9, 5, 10], 10, 8, 7, 1, 9, 5, 10)

In [106]:
import statistics

def score_ave(marks):
    firstsem, *allmarks = marks
    return statistics.mean(allmarks)

marks = [10,20,30,40,50]

score_ave(marks)

35

In [111]:
records = [
('foo', 1, 2),
('bar', 'hello'),
('foo', 3, 4),
]
def do_foo(x, y):
    print('foo', x, y)
    
def do_bar(s):
    print('bar', s)
    
for tag, *args in records:
    if tag == 'foo':
        do_foo(*args)
    elif tag == 'bar':
        do_bar(*args)

foo 1 2
bar hello
foo 3 4

In [128]:
record = [('foo',1,2),('bar','hello','kitty','hi'),('foo',3,4)]

def do_foo(x,y,*arg):
    print('foo',x,y)
    
def do_bar(s,p,k):
    print('bar',s,p,k)

for x, *args in record:
    if x =='foo':
        do_foo(*args)
    elif x=='bar':
        do_bar(*args)

foo 1 2
bar hello kitty hi
foo 3 4

In [159]:
from collections import deque
q = deque(maxlen=3)
q.append(6)
q.append(5)
q.append(1)
q.append(7)
q.append(9)
q.popleft()
q

deque([7, 9])

In [164]:
import heapq

marks = [20,10,40,100,9,90,11]
print('5 largest',heapq.nlargest(5,marks))
print('5 smallest',heapq.nsmallest(5,marks))

5 largest [100, 90, 40, 20, 11]
5 smallest [9, 10, 11, 20, 40]

In [174]:
portfolio = [
{'name': 'IBM', 'shares': 100, 'price': 91.1},
{'name': 'AAPL', 'shares': 50, 'price': 543.22},
{'name': 'FB', 'shares': 200, 'price': 21.09},
{'name': 'HPQ', 'shares': 35, 'price': 31.75},
{'name': 'YHOO', 'shares': 45, 'price': 16.35},
{'name': 'ACME', 'shares': 75, 'price': 115.65}
]
cheap = heapq.nsmallest(3, portfolio, key=lambda s: s['price'])
expensive = heapq.nlargest(3, portfolio, key=lambda s: s['price'])

cheap
#expensive

[{'name': 'YHOO', 'shares': 45, 'price': 16.35},
 {'name': 'FB', 'shares': 200, 'price': 21.09},
 {'name': 'HPQ', 'shares': 35, 'price': 31.75}]

In [183]:
import heapq

marketvalue =[
    {'company':'apple', 'share':20, 'price':10000},
    {'company':'facebook', 'share':21, 'price':5000},
    {'company':'uber', 'share':23, 'price':200}
    ]
i = len(marketvalue)
cheap_share = heapq.nsmallest(2,marketvalue, key=lambda c: c['share'])
high_price =heapq.nlargest(3,marketvalue, key=lambda l:l['price'])
alpha_order =heapq.nsmallest(i, marketvalue, key=lambda a:a['company']) #used i variable to store lenght of list
#cheap_share
#high_price
alpha_order

[{'company': 'apple', 'share': 20, 'price': 10000},
 {'company': 'facebook', 'share': 21, 'price': 5000},
 {'company': 'uber', 'share': 23, 'price': 200}]