In [5]:
for i in range (1,5):
    print ('I love %s cakes'%i)

I love 1 cakes
I love 2 cakes
I love 3 cakes
I love 4 cakes

In [8]:
name_list=['donkey','monkey','funkey','rinkey','minkey'] #list

for i in range (0,5):
    print ('what is the name %s' %name_list[i])

what is the name donkey
what is the name monkey
what is the name funkey
what is the name rinkey
what is the name minkey

In [10]:
name_tuple=('donkey','monkey','funkey','rinkey','minkey') #tuple

for i in range (0,5):
    print ('what is the name %s' %name_tuple[i])

what is the name donkey
what is the name monkey
what is the name funkey
what is the name rinkey
what is the name minkey

In [18]:
name_dict={0:'donkey',1:'monkey',2:'funkey',3:'rinkey',4:'minkey'} #dictionary

for i in range (0,5):
    print ('what is the name %s' %name_dict[i])

what is the name donkey
what is the name monkey
what is the name funkey
what is the name rinkey
what is the name minkey

In [19]:
list (range (0,5))

[0, 1, 2, 3, 4]

In [24]:
def myname (fname,lname):
    print ('My name is %s %s'%(fname,lname))
    
myname('bhuvan','lagaan')

My name is bhuvan lagaan

In [39]:
def money(earned,spent):
    return earned-spent

money (200,100)
#print (money(400,50))

100

In [43]:
import time

print(time.asctime())

Sun Apr 12 14:36:46 2020

In [2]:
def silly_joke():
    
    for i in range (1,5):
        print ('How old are you?')
        age = int(input())
        if age>=10 and age<13:
             print('Good Joke')
        else:
            print('Huh?')
silly_joke()

How old are you?
10
Good Joke
How old are you?
20
Huh?
How old are you?
30
Huh?
How old are you?
5
Huh?

In [5]:
"10"

'10'

In [3]:
import turtle

avery=turtle.Pen()
jumanji=turtle.Pen()

avery.forward(500)
jumanji.forward(100)

word = "Python"
word[2:3] + word[:]

In [10]:
    word ="Python"
len(word)

6

In [16]:
# Fibonacci Series

a,b=0,1

while a<10:
    print(a,end=',')
    a,b=b,a+b

0,1,1,2,3,5,8,

In [32]:
animals =['cat','rat','dog','frog']
# print(animals)
for w in animals:
    print(w,len(w))

cat 3
rat 3
dog 3
frog 4

In [6]:
a, b=0,1

while a<10:
    print(a,end=',')
    a,b=b,a+b

0,1,1,2,3,5,8,

In [3]:
mystring="tinker"
mystring[1:4]

'ink'

In [8]:
print('{}{}'.format('Python',' rules'))

Python rules